.nonogram{
    width: 600px; height: 600px;
    border: 1px solid yellow;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    
}

.nonobox{
    
}

.row{
    display: flex;
    width:fit-content;
}

.empty{
    width: 30px; height: 30px;
    box-sizing: border-box;
    background-color: white;
    border: 1px black solid;
}

.full{
    width: 30px; height: 30px;
    box-sizing: border-box;
    background-color: black;
    border: 1px white solid;
}