body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-top: 56px; /* 네비게이션 바 높이 만큼의 패딩 추가 */
}
.container {
    width: 100%;
    max-width: 500px;
    margin: 10px;
}
.button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 10px;
}
.puzzle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    background-color: #007BFF;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}
.puzzle-button:hover {
    background-color: #0056b3;
}
